<!DOCTYPE>
<html>
<head>
  <title>Basic Idiom Chart from https://tobiasahlin.com/blog/chartjs-charts-to-get-you-started/</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>
<body>

<canvas id="myChart" width="800" height="600"></canvas>

<style type="text/css">
</style>

<script>
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: {{{ formattedResultsLineChart.stringified.labels }}},
    datasets: {{{ formattedResultsLineChart.stringified.datasets }}}
  },
  options: {
      responsive: false,
      title: {
        display: true,
        text: {{{ formattedResultsLineChart.stringified.title }}}
      },
      scales: {
      xAxes: [{
        ticks: {
          maxRotation: 90,
          minRotation: 90
        }
      }]
    }

  }
});

</script>

</body>
</html>
