<h1>Idiom Exploration Jump Off Page</h1>

<h2>Typos</h2>

<h3>Look for standard typos</h3>
<p>There will be a delay whilst the site's search is poked repeatedly.</p>
<ul>
  <li>raw json data: GET <a href="/typos/raw">/typos/raw</a></li>
  <li>tidy view: GET <a href="/typos/tidy">/typos/tidy</a></li>
  <li>config: GET <a href="/typos/config">/typos/config</a></li>
</ul>
</p>

<h3>idioms</h3>
<ul>
  <li>raw json data: GET <a href="/idioms/raw">/idioms/raw</a></li>
  <li>config: GET <a href="/idioms/config">/idioms/config</a></li>
</ul>
</p>

<p>The end.</p>
