<h1>Idiom Exploration Jump Off Page</h1>

<h2>Typos</h2>

<h3>Look for standard typos</h3>
<p>There will be a delay whilst the site's search is poked repeatedly.</p>
<ul>
  <li>raw json data: GET <a href="/typos/raw">/typos/raw</a></li>
  <li>tidy view: GET <a href="/typos/tidy">/typos/tidy</a></li>
  <li>config: GET <a href="/typos/config">/typos/config</a></li>
</ul>
</p>

<h3>idioms</h3>
<ul>
  <li>raw json data: GET <a href="/idioms/raw">/idioms/raw</a> (NB: this defaults to the according-to-sources idiom</li>
  <li>raw json data with spec: GET <a href="/idioms/raw?spec=AXN:according%20to,source,sources|SC:finance">/idioms/raw?spec=AXN:according%20to,source,sources|SC:finance</a> (NB: AXN=adverb singular plural, SC=standard candle)</li>
  <li>chart: GET <a href="/idioms/chart">/idioms/chart</a> (NB: this defaults to the according-to-sources idiom</li>
  <li>chart with spec (scaled by default: GET <a href="/idioms/chart?spec=AXN:according%20to,source,sources|SC:finance">/idioms/raw?spec=AXN:according%20to,source,sources|SC:finance</a> (NB: AXN=adverb singular plural, SC=standard candle)</li>
  <li>chart with spec unscaled: GET <a href="/idioms/chart?spec=AXN:according%20to,source,sources|SC:finance&unscaled=true">/idioms/raw?spec=AXN:according%20to,source,sources|SC:finance&unscaled=true</a> (NB: AXN=adverb singular plural, SC=standard candle)</li>
  <li>chart with spec unscaled, yaxis logarithmic: GET <a href="/idioms/chart?spec=AXN:according%20to,source,sources|SC:finance&unscaled=true&yaxistype=logarithmic">/idioms/raw?spec=AXN:according%20to,source,sources|SC:finance&unscaled=true&yaxistype=logarithmic</a> (NB: AXN=adverb singular plural, SC=standard candle)</li>
  <li>lots of individual phrases: GET <a href="/idioms/chart?unscaled=true&yaxistype=logarithmic&spec=SC:finance|SC:news|SC:business|SC:europe|SC:politics|SC:investors|SC:investor|SC:trump|SC:deutsche">/idioms/chart?unscaled=true&yaxistype=logarithmic&spec=SC:finance|SC:news|SC:business|SC:europe|SC:politics|SC:investors|SC:investor|SC:trump|SC:deutsche</a></li>
  <li>assorted idioms with plurals
    <ul>
      {{#each candidateChartSpecAndUrls as |specAndUrl|}}
        <li>chart with spec unscaled, yaxis logarithmic: <a href="{{{specAndUrl.url}}}">{{specAndUrl.spec}}</a></li>
      {{/each}}
    </ul>
  </li>
</ul>
</p>

<h3>Admin</h3>
<ul>
  <li><a href="/admin/flushallcaches">/admin/flushallcaches</a></li>
</ul>

<p>The end.</p>
