<h1>Idiom Exploration Jump Off Page</h1>

<h2>Typos</h2>

<h3>Look for standard typos</h3>
<p>There will be a delay whilst the site's search is poked repeatedly.</p>
<ul>
  <li>raw json data: GET <a href="/typos/raw">/typos/raw</a></li>
  <li>tidy view: GET <a href="/typos/tidy">/typos/tidy</a></li>
  <li>config: GET <a href="/typos/config">/typos/config</a></li>
</ul>
</p>

<h3>idioms</h3>
<ul>
  <li>raw json data: GET <a href="/idioms/raw">/idioms/raw</a> (NB: this is all the idioms, and takes > 60s)</li>
  <li>raw json data with spec: GET <a href="/idioms/raw?spec=AXN:according%20to,source,sources|SC:finance">/idioms/raw?spec=AXN:according%20to,source,sources|SC:finance</a> (NB: AXN=adverb singular plural, SC=standard candle)</li>
  <li>chart?: GET <a href="/idioms/chart">/idioms/chart</a></li>
</ul>
</p>

<p>The end.</p>
